.nav {
    grid-area: n;
    background-color: rgb(226, 226, 226);
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 4px;
}

.item {
    color: #fff;
    font-size: 17px;
    padding: 25px;


}

.item a {
    color: #222222;
    text-decoration: none;
}

.item a.active {
    color: rgb(0, 139, 231);
            
}

.item a:hover {
    color: rgb(0, 139, 231);

}
.icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
}